html {
  color: white;
  background-color: #080714;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

body #svelte {
  height: 100%;
  width: 100%;
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 2px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
  margin-right: 2px;
  width: 6px;
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #919191;
  border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f4f7f7;
}